:root{
    --rich-black: #0d1b2aff;
    --oxford-blue: #1b263bff;
    --yinmn-blue: #415a77ff;
    --silver-lake-blue: #778da9ff;
    --platinum: #e0e1ddff;
}

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--rich-black);
    font-family: sans-serif;
    color: var(--platinum);
    scroll-snap-type: mandatory;
}

.nav{
    position: fixed;
    top: 0px;
    background-color: var(--oxford-blue);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav h1{
    margin: 0px 1vw;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 8vh;
}

.nav a{
    text-decoration: none;
    color: var(--platinum);
}

.nav ul a{
    text-decoration: none;
    padding: 0px 1vw;
    height: 8vh;
    color: var(--platinum);
    display: flex;
    align-items: center;
}

.nav ul a:hover{
    transition: 0.3s;
    color: var(--yinmn-blue);
}

#start{
    /* margin-top: 8vh; */
    display: flex;
    justify-content: space-evenly;
    scroll-snap-align: start;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img{
    height: 50vh;
}

#projects{
    height: 80vh;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.window{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    overflow-x: scroll;
}

.card{
    height: 450px;
    width: 100%;
    padding-left: -10vw;
    border: 4px solid black;
    background-color: var(--yinmn-blue);
    scroll-behavior: smooth;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
}

.card a{
    background-color: aquamarine;
    width: 10vw;
}