body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*------------- nav bar ---------------*/

header {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 64px;
    background-color: rgb(24, 24, 24);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-right: 48px;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(255, 187, 0);
}

.left {
    margin: 0 64px;
    font-size: 1.3rem;
}

#menu {
    display: none;
    height: 32px;
    width: 32px;
    margin-right: 16px;
}

/*------------ Home Section --------------*/

#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;

}


.leftSection {
    font-size: 2rem;
}

.rightSection img {
    max-height: 400px;
    border-radius: 50%;
}

.purple {
    color: rgb(255, 187, 0);
}

#element {
    color: rgb(255, 187, 0);
}

/*-------------------- Projects --------------------*/

#projects {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 100vh;
    scroll-snap-align: start;
}

#projects h1 {
    font-size: 1.6rem;
}

.text-gray {
    color: gray;
}

.boxes {
    width: 80vw;
    /* height: 60vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

.box {
    height: 315px;
    width: 200px;
    background-color: rgb(24, 24, 24);
    border-radius: 30px;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    scroll-snap-align: start;
}

.box:hover {
    /* color: black; */
    background-color: rgb(8, 8, 8);
    border-radius: 30px;
}

.box:hover .image {
    height: 170px;
    width: 170px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px black;
}

.box .image {
    height: 150px;
    width: 150px;
    border-radius: 25px;
    transition: 0.5s;
}

.box .title {
    height: 4rem;
    width: 90%;
    margin: 20px 20px;
    text-align: center;
    justify-content: center;
    display: block;
}

.boxes a {
    text-decoration: none;
    color: white;
}

/*-------------------------- Contact -------------------------*/

.title {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    scrollî€“-snap-align: start;
}

#contact h1 {
    font-size: 1.6rem;
}

#contact a {
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: white;
}

.mailme {
    height: 90px;
    width: 380px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: rgb(24, 24, 24);
}

.mailme:hover {
    background-color: rgb(0, 24, 20);
}

.mailme:hover i {
    transition: 0.5s;
    color: rgb(255, 187, 0);
}

#links {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 32px;
    height: 64px;

}

.link {
    /* background-color: rgb(255, 187, 0); */
    height: 32px;
    /* width: 44px; */
    transition: 0.5s;
}

.link:hover {
    /* background-color: rgb(255, 187, 0); */
    height: 42px;
    /* width: 42px; */
}

#links img {
    margin-top: -2px;
    margin-left: -2px;
    height: 52px;
    width: 52px;
}


.copyright {
    margin-top: 15vh;
    text-align: center;
}

.uname:hover {
    transition: 0.5s;
    color: rgb(255, 187, 0);
}


@media (max-width: 700px) {

    header {
        position: fixed;
        top: 0;
        z-index: 999;
    }

    /* #menu {
        display: block;
    } */

    #home {
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .leftSection {
        font-size: 1.2rem;
    }

    .rightSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .rightSection img {
        max-width: 70vw;
    }

    section h1,
    .text-gray {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        justify-content: center;
    }

    .left {
        margin-left: 32px;
    }

    nav ul {
        display: none;
    }

    nav .right {
        display: none;
    }

    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        width: 100vw;
        height: 100vh;
    }

    .boxes {
        width: 100vw;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 24px;
        gap: 24px;
        height: fit-content;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }

    .box:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 24px;
        gap: 24px;
        height: fit-content;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }


    .box:hover .image {
        height: 80vw;
        width: 80vw;
        background-color: initial;
    }


    .box .image {
        height: 80vw;
        width: 80vw;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .mailme {
        width: 100vw;
        background-color: inherit;
    }

    .mailme:hover {
        background-color: inherit;
        border-radius: 0;
    }
}